html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #red{
    background: rgb(223, 48, 48);
  }
  
  #white {
    background: white;
  }
  #gray {
    background: rgb(50, 50, 64);
  }
  #yellow {
    background: yellow;
  }
  